.Button {
    width: 60%;
    font-size: 1.15rem;
    align-self: baseline;
    margin: 0.5rem 1.5rem;
    padding: 0.5rem;
    border: 1px solid rgba(26, 24, 24, 0.452);
    border-radius: 5px;
    background-color: initial;
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}

.Confirm {
    color: rgba(105, 241, 105, 0.911);
    border: 2px solid rgba(105, 241, 105, 0.76);
}

.Confirm:hover {
    color: rgba(158, 238, 158, 0.925);
    background-color: rgba(37, 168, 28, 0.781);
}

.Danger {
    color: rgb(228, 104, 104);
    border: 2px solid rgba(241, 81, 81, 0.897);
}

.Danger:hover {
    color: rgb(228, 25, 25);
    background-color: rgba(231, 159, 159, 0.74);
}

.Neutral {
    color: rgb(211, 211, 211);
    border: 2px solid rgb(90, 88, 88);
}

.Neutral:hover {
    color: rgb(228, 222, 222);
    background-color: rgba(175, 174, 174, 0.74)
}

/* Mobile - SideDrawer toggle */
@media (max-width: 500px) {
    .MenuToggle {
        color: rgb(211, 211, 211);
        font-weight: 800;
        font-size: 1.5rem;
        height: 100%;
        width: 20%;
        align-self: flex-end;
        margin: 0;
        padding: 0 0.9rem;
        border-bottom: none;
    }
}