.Item {
	font-size: 1.3rem;
	margin: 0.8rem 0;
	box-sizing: border-box;
	width: 100%;
	display: block;
	transition: 0.5s all;
}

.Item a {
	align-self: auto;
	color: rgb(209, 207, 205);
	text-decoration: none;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: block;
	border-radius: 8px;
}

.Item .AuthSignin {
	color: rgba(105, 241, 105, 0.781);
}

.Item .SigninActive {
	color: rgb(99, 248, 99);
	border-bottom: 5px solid rgba(71, 219, 71, 0.89);
}

.Item a:hover .Item a:active,
.Item a.active {
	background-color: rgba(105, 241, 105, 0.521);
}



/* Large screen */
@media screen and (min-width: 500px) {
	.Item {
		font-size: initial;
		margin: 0;
		height: 100%;
		width: auto;
		display: flex;
		align-items: center;
		transition: 0.3s all;
	}

	.Item a {
		align-self: flex-end;
		font-size: 1rem;
		align-self: auto;
		color: rgba(235, 231, 231, 0.726);
		height: 100%;
		width: auto;
		text-align: center;
		padding: 0.9rem 1rem;
		border-bottom: 4px solid transparent;
		display: block;
		border-radius: 0;
	}

	.Item .SigninActive {
		color: rgb(99, 248, 99);
		border-bottom: 10px solid rgba(71, 219, 71, 0.89);
	}

	.Item a:hover {
		border-bottom: 5px solid rgba(105, 241, 105, 0.521);
	}

	.Item a:active,
	.Item a.active {
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 10px solid rgba(71, 219, 71, 0.89);
		color: rgba(247, 232, 232, 0.986);
	}
}

/* Medium screen */
@media screen and (max-width: 710px) {

	.Item a:active,
	.Item a.active {
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 5px solid rgba(71, 219, 71, 0.89);
		color: rgba(247, 232, 232, 0.986);
	}
}