@import '../../../../variables.css';

.Order {
    width: 60%;
    background-color: var(--primary-background-light);
    box-shadow: var(--shadow-light);
    padding: 0.7rem;
    margin: 1rem auto;
    box-sizing: border-box;
    color: var(--coloring-dark);
}

.OrderId {
    text-align: center;
    text-decoration: underline;
}

.DataHeader {
    display: inline-block;
    margin: 0.3rem 0.5rem;
    padding: 0.4rem;
    width: 90%;
    list-style: none;
}

.DataHeader li {
    list-style: none;
    margin: 0.4rem;
}

.Category {
    text-transform: capitalize;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    font-weight: 900;
}

.Order .Price {
    color: var(--glow-green-darker);
    margin-left: 0.3rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Medium screens */
@media screen and (max-width: 900px) {
    .Order {
        width: 80%
    }
}

/* Small screens */
@media screen and (max-width: 500px) {
    .Order {
        width: 85%
    }

    .DataHeader {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
    }

    .OrderId {
        font-size: 0.95rem;
    }

    .DataHeader ul {
        margin: 0;
    }

    .DataHeader li {
        width: 100%;
    }

    .Category {
        font-size: 1rem;
    }

    .Order p {
        width: 100%;
    }
}