.AuthItems {
    display: block;
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}

.AuthItems .LoggedInMessage {
    color: rgba(235, 235, 235, 0.897);
    display: inline-block;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    margin: auto 0;
    padding: 0.9rem 1rem;

}

.LoggedInMessage span {
    color: rgba(105, 241, 105, 0.808);
}

/* Desktop */
@media (min-width: 500px) {
    .AuthItems {
        display: flex;
        flex-flow: row;
        justify-items: center;
        width: 100%;
    }
}