.Item {
    margin: 0.8rem 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.Item a {
    font-size: 1.2rem;
    align-self: auto;
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
}

.Item a:hover,
.Item a:active,
.Item a.activeStyle {
    background-color: rgb(81, 169, 194);
}

/* Desktop */
@media (min-width: 500px) {
    .Item {
        font-size: initial;
        margin: 0;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }

    .Item a {
        align-self: flex-end;
        font-size: 0.95rem;
        align-self: auto;
        color: white;
        height: 100%;
        width: auto;
        text-align: center;
        padding: 0.9rem 1rem;
        border-bottom: 4px solid transparent;
        display: block;
        border-radius: 0;
    }

    .Item a:hover,
    .Item a:active,
    .Item a.activeStyle {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: rgb(180, 173, 173);
    }
}