.BuildControls {
    width: 100%;
    background-color: #cf8f23;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.Price {
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: 2.2rem;
}