@import '../../../../variables.css';

.OrderPaginationPanel {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.OrderPaginationPanel button {
    cursor: pointer;
    background: transparent;
    border: none;
    box-shadow: var(--shadow-light);
    margin: 0 auto;
}

.OrderPaginationPanel button:hover {
    background-color: var(--coloring-light);
}

.OrderPaginationPanel .pageContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.OrderPaginationPanel .pageContainer button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.4rem;
    margin: auto 0.1rem;
    list-style: none;
    border: 2px solid var(--coloring-opaque-dark);
}

.OrderPaginationPanel li:hover {
    background-color: var(--coloring-light);
}

.OrderPaginationPanel li:active {
    background-color: var(--coloring-opaque-dark);
}

/* .OrderPaginationPanel li::before {
    content: '|';
    margin: 0 0.2rem;
}

.OrderPaginationPanel li::after {
    content: '|';
    margin: 0 0.2rem;
} */