.NavItems {
    margin: 0 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.AuthItem {
    justify-content: flex-end;
}

/* Desktop */
@media (min-width: 500px) {
    .NavItems {
        flex-flow: row;
        width: 100%;
    }
}