.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(75deg, rgb(238, 148, 44), rgb(230, 162, 86));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.1rem;
    box-sizing: border-box;
    z-index: 90;
    user-select: none;
}

.Toolbar nav {
    height: 100%;

}

.LogoHeight {
    height: 90%;
    background-color: rgba(8, 131, 8, 0.678);
    border-radius: 50%;
}

/* Mobile */
@media (max-width:499px) {
    .DesktopOnly {
        display: none;
    }
}