body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App .Nav li {
  list-style: none;
  display: inline-block;
  margin: 1rem 2rem;
}

.App .Nav li a {
  transition: 0.6s all;
}

.App .Nav li a:active,
.App .Nav li a.active {
  font-size: 1.3rem;
  color: rebeccapurple;
  text-decoration: underline;
}