.Button {
    font-size: 1.3rem;
    align-self: baseline;
    margin: 0.5rem 1.5rem;
    border: none;
    border-bottom: 2px solid rgb(26, 24, 24);
    background-color: initial;
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}

.Button:hover {
    border-radius: 8px;
    font-weight: 800;
    transform: scale(1.1);
}

.Confirm {
    color: rgb(26, 104, 7);
    border-bottom: 2px solid rgba(16, 151, 4, 0.781);
}

.Danger {
    color: rgb(226, 17, 17);
    border-bottom: 2px solid rgba(226, 42, 42, 0.719);
}